
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto&display=swap');


body {
    font-family: 'Merriweather', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
}

main {
    margin-top: 60px; /* Ajusta este valor según la altura del header */
    padding: 20px;
}

a {
    text-decoration: none;
    color: #333;
}

/* Estilos para el header */
#header {
    background-color: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    transition: all 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1000; /* Asegura que el header esté por encima del main */
}

#header .logo h1 {
    margin-left: 15px;
    color: #333;
}

#header .navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

#header .navbar ul li {
    margin-right: 20px;
}

#header .navbar ul li a {
    transition: color 0.3s ease;
}

#header .navbar ul li a:hover {
    color: #ff5f5f;
}

/* Estilos para las secciones */
h1, h2 {
    color: #333;
}

#inicio {
    margin-top: 2em;
    text-align: center;
    margin-bottom: 50px;
}

#inicio h1{
    font-size: 2em;
    font-weight: 400;
    color: #333;
    margin-bottom: 0.5em;
}

#contacto {
    max-width: 50%;
    margin: 0 auto;
}

#formulario-contacto {
    display: grid;
    gap: 10px;
    align-items: center;
}


#formulario-contacto button {
    width: fit-content;
    
}

#formulario-contacto label {
    font-weight: bold;
}


#formulario-contacto textarea {
    height: 100px;
}

#productos {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: center;
}

#productos img {
    max-width: 100%;
    height: auto;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px;
}

.product-image {
    width: 100%;
    height: auto;
}

.historia {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 10px;
    gap: 40px;
}

.historia p {
    max-width: 40%;
    text-align: justify;

}
/*pagina productos*/
.section-padre img {
    max-height: 48rem;

}
.main-producto {
    display: flex;
    align-items: center;

}
.descripcion-producto{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}
.descripcion-producto h2{
    font: 3em sans-serif;
    font-weight: 700;
    
}
button{
    background-color: rgb(63, 63, 65);
    color: white;
    font-weight: 600;
    padding: 0.5rem 0.8rem;
    border: none;
    border-radius: 5px; 
}
.descripcion-producto .producto-precio{
    font-weight: 700;
    font-size: 1.5em;

    
    
}
/*estilos generales*/
input textarea select{
    outline: none;
    border-radius: 5px;
    border:0.5px solid rgb(180, 167, 167);
    padding: 0.4em;
}
.error {
    color: red;
    font-size: 0.875em;
}

/*estilos para footer*/
#footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em; 
}
/*empieza animacion*/
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.img-principal{
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
}
